.swift {
    background-color: #ffffff;
    position: absolute;
    left: 30px;
    bottom: 30px;
    box-shadow: 3px 3px 20px #808080;
    height: 300px;
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
    white-space: pre;
}