.bar {
    background-color: black;
    height: 55px;
    width: 100vw;
}

.square-button {
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
    left: 50px;
    border-radius: 5px;
    background-color: green;
}

.ellipse-button {
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
    left: 80px;
    border-radius: 15px;
    background-color: green;
}

.object-bar {
    height: 55px;
    width: 50vw;
    background-color: black;
}

.edit-bar {
    height: 55px;
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
}