.bar {
    background-color: #2c2c2c;
    height: 55px;
    width: 100vw;
}

.square-button {
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
    left: 120px;
    border-radius: 5px;
    background-color: green;
}

.ellipse-button {
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
    left: 140px;
    border-radius: 15px;
    background-color: green;
}

.canvas-button {
    height: 30px;
    width: 30px;
    position: relative;
    top: 12px;
    right: 70px;
    background-color: transparent;
    border-width: 0;
}

.text-button {
    height: 30px;
    width: 30px;
    position: relative;
    top: 13px;
    left: 160px;
    background-color: transparent;
    border-width: 0;
}

.object-bar {
    height: 55px;
    width: 50vw;
}

.edit-bar {
    height: 55px;
    width: 75vw;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    overflow: hidden;
}

.edit-bar-property {
    float: left;
}

label {
    display: block;
    font: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: white;
}

input,
label {
    margin: .1rem 0;
    margin-right: 10px;
}
